---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "December 2024 - July 2025",
    title: "Software Engineer II",
    company: "Paismo",
    description:
      "I engineered scalable backend solutions and drove product innovation. I won a company-wide hackathon by building a semantic RAG pipeline for resume–job matching, led the development of a high-performance attendance policy manager, and refactored the payroll microservice to support country-specific payment plans with full test coverage. I also implemented secure Auth0-based machine-to-machine communication and conducted market-fit analysis for Pakistan, contributing features that boosted engagement and revenue.",
    link: "https://paismo.com/",
  },
  {
    date: "July 2023 - December 2024",
    title: "Software Engineer",
    company: "xiQ, Inc.",
    description:
      "I contributed to the development of the company’s B2B GenAI email marketing platform, xiQ Workbench, delivering features like campaign management, audience segmentation, advanced analytics, and workflow automation. I led end-to-end feature development, optimized system performance through database query improvements, enhanced centralized logging for better user activity tracking, and collaborated across teams to ensure high-quality, scalable releases.",
    link: "https://xiqinc.com/",
  },
  {
    date: "July 2022 - September 2022",
    title: "Software Engineer Intern",
    company: "Tintash",
    description:
      "I engaged in brainstorming sessions, problem-solving, and cross-functional teamwork. Participated in an immersive project collaboration session, contributing to the development of two full-stack projects within the MERN stack framework. One project involved crafting a to-do application using embedded JavaScript, providing exposure to template engines in the backend. The other project centered around creating a collaborative blogging platform, enabling multiple users to read and share articles seamlessly.",
    link: "https://tintash.com/",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
