---
const personalImageAlt = "Muhammad Ahmed"
import Badge from "@/components/Badge.astro"
import LinkedInIcon from "@/components/icons/LinkedIn.astro"
import ResumeIcon from "@/components/icons/Resume.astro"
import MailIcon from "@/components/icons/Mail.astro"
import SocialPill from "@/components/SocialPill.astro"
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src="/ahmed.webp"
      alt={personalImageAlt}
    />
    <a
      href="https://linkedin.com/in/ahmedazhar2299"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Ready to Build the Future of AI-Powered Platforms</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Hey, I'm Ahmed
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    +2.5 years of experience. <strong
      >Software Development Engineer</strong
    > from Los Angeles, CA. Engineering Cloud-Scalable Architectures and AI-Powered Platforms.
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="mailto:ahmed.azhar2299@gmail.com">
      <MailIcon class="size-4" />
      Contact me
    </SocialPill>
    <SocialPill href="https://linkedin.com/in/ahmedazhar2299/">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
     <SocialPill href="https://drive.google.com/file/d/1o1Scpr6sg90s2Yfw0iQEHa_o-6opwAmF/view">
      <ResumeIcon class="size-4" />
      Resume
    </SocialPill>
  </nav>
</div>
